:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 0.5rem;
  --size-scale: scale(1.2);
  --size-img: 48px;
  --font-size: 18px;
  --size-border: 4px;
  /* animation */
  --animation-duration: 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.shopping {
  width: 80%;
}
.shopping__logo {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: calc(var(--base-space) * 2);
  gap: var(--base-space);
}
.filters__clothes {
  display: flex;
  gap: calc(var(--base-space) * 2);
}
.filters__colours {
  display: flex;
  gap: var(--base-space);
}
.clothes__img {
  width: var(--size-img);
  height: var(--size-img);
  transition: all var(--animation-duration) ease;
}
.colours-btn {
  padding: var(--base-space);
  font-size: var(--font-size);
  border-radius: var(--size-border);
  transition: all var(--animation-duration) ease;
}
.shopping__logo:active,
.clothes__img:active,
.colours-btn:active {
  transform: var(--size-scale);
}
.colours-btn.blue-btn {
  background-color: var(--color-blue);
}
.colours-btn.yellow-btn {
  background-color: var(--color-yellow);
}
.colours-btn.pink-btn {
  background-color: var(--color-pink);
}
/*  */
.items {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.items::-webkit-scrollbar {
  display: none;
}
.item__row {
  display: flex;
  align-items: center;
  padding: var(--base-space) calc(var(--base-space) * 3);
  margin-bottom: var(--base-space);
  gap: calc(var(--base-space) * 3);
  background-color: var(--color-white);
  border-radius: var(--size-border);
}
.item__img {
  width: var(--size-img);
  height: var(--size-img);
}
.item__text {
  font-size: 1.2rem;
}
/* hover */
@media (hover: hover) {
  .shopping__logo:hover,
  .clothes__img:hover,
  .colours-btn:hover {
    transform: var(--size-scale);
  }
}
