:root {
  --color-background: var(--color-black);
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.shopping {
  width: 80%;
  margin-block: 2rem;
}
.shopping__hero {
  display: block;
  margin: auto;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
  gap: 0.5rem;
}
.filters__clothes {
  display: flex;
  gap: 1rem;
}
.filters__colours {
  display: flex;
  gap: 0.8rem;
}
.clothes__img {
  width: 32px;
  height: 32px;
  transition: all 300ms ease;
}
.clothes__img:active {
  transform: scale(1.2);
}

.colours-btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 300ms ease;
}
.colours-btn:active {
  transform: scale(1.2);
}
.colours-btn.blue-btn {
  background-color: var(--color-blue);
}
.colours-btn.yellow-btn {
  background-color: var(--color-yellow);
}
.colours-btn.pink-btn {
  background-color: var(--color-pink);
}
/*  */
.items {
  height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}
.items::-webkit-scrollbar {
  display: none;
}
.item__row {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  gap: 1.5rem;
  background-color: var(--color-white);
  border-radius: 8px;
}
.item__img {
  width: 48px;
  height: 48px;
}
.item__wrapper {
  font-size: 1.2rem;
}
/* hover */
@media (hover: hover) {
  .clothes__img:hover {
    transform: scale(1.2);
  }
  .colours-btn:hover {
    transform: scale(1.2);
  }
}
